<div class="asideNav_pg">
    <div class="logo_bx">
      <a href="#"><img src="assets/images/logo.png" alt="logo"></a>
    </div><!-- END C/logo_bx -->

    <nav class="navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav_list">
              <li><a href="#" class="active"><i class="las la-frown"></i> Complains</a></li> <!-- please use active class to explain current link -->
              <li><a href="#"><i class="pi pi-question-circle"></i> Inquiries</a></li>
              <li><a href="#"><i class="las la-stethoscope"></i> Consultation</a></li>
              <li><a href="#"><i class="las la-lightbulb"></i> Suggestions</a></li>
              <li><a href="#"><i class="pi pi-book"></i> Knowledge Base</a></li>
              <li><a href="#"><i class="pi pi-users"></i> Users</a></li>
          </ul>
        </div>
    </nav><!-- END C/navbar -->
  </div><!-- END C/asideNav_pg -->