<section class="mainContainer_st">
    <div class="asideNav_bx">
        <app-asidemenu></app-asidemenu>
    </div><!-- END C/asideNav_bx -->

    <div class="inner_pg">
        <div class="flx_bx">
            <div class="content_bx">
                <app-complains></app-complains>
            </div><!-- END C/content_bx -->

            <div class="notification_bx">
                <app-notifications></app-notifications>
            </div><!-- END C/notification_bx -->
        </div><!-- END C/flx_bx -->
    </div><!-- END C/inner_pg -->
</section><!-- END C/mainContainer_st -->