<div class="complaint_pg">
    <div class="content_header">
      <div class="flx_bx">

        <div class="input-group">
          <input type="text" class="form-control" autofocus placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-text" id="basic-addon1"><i class="las la-search"></i></span>
        </div><!-- END C/input-group -->

        <div class="btn_bx">
          <button class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span><i class="pi pi-plus"></i></span> Add New Ticket</button>
        </div><!-- END C/btn_bx -->

      </div><!-- END C/flx_bx -->
    </div><!-- END C/content_header -->

    <div class="complaintList_bx">
      <div class="complaint_container redTag_bg">
        <i class="pi pi-flag-fill "></i>
        <div class="top_bx">
          <div class="flx_bx">
            <div class="tik_no">
                <h4>5300 <span>Ticket No.</span></h4>
            </div><!-- END C/tik_no -->
            <div class="tik_prev">
              <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
              <div>
                <h1>The lack of a medical specialty</h1>
                <ul>
                  <li>
                    <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                  </li>
                  <li>
                    <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                  </li>
                  <li>
                    <p><i class="pi pi-map-marker"></i> Riyadh</p>
                  </li>
                </ul>
              </div>
            </div><!-- END C/tik_prev -->
          </div><!-- END C/flx_bx -->
        </div><!-- END C/top_bx -->
        <div class="bottom_bx">
          <h3>Couldn’t find Bones Medical specialt at this time</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>
          <div class="flx_bx">
            <span><i class="pi pi-bookmark-fill"></i> medical bones and joints department</span>
            <a href="#"><i class="las la-link"></i> View Attachments</a>
          </div>
        </div><!-- END C/bottom_bx -->
      </div><!-- END C/complaint_container -->

      <div class="regComplaint_bx">

        <div class="complaint_container grayTag_bg">
                            <i class="pi pi-flag-fill"></i>
                            <div class="top_bx">
                              <div class="flx_bx">
                                <div class="tik_no">
                                    <h4>5300 <span>Ticket No.</span></h4>
                                </div><!-- END C/tik_no -->
                                <div class="tik_prev">
                                  <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
                                  <div>
                                    <h1>The lack of a medical specialty</h1>
                                    <ul>
                                      <li>
                                        <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                                      </li>
                                      <li>
                                        <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                                      </li>
                                      <li>
                                        <p><i class="pi pi-map-marker"></i> Riyadh</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- END C/tik_prev -->
                              </div><!-- END C/flx_bx -->
                            </div><!-- END C/top_bx -->
                          </div><!-- END C/complaint_container -->
        
                          <div class="complaint_container grayTag_bg">
                            <i class="pi pi-flag-fill"></i>
                            <div class="top_bx">
                              <div class="flx_bx">
                                <div class="tik_no">
                                    <h4>5300 <span>Ticket No.</span></h4>
                                </div><!-- END C/tik_no -->
                                <div class="tik_prev">
                                  <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
                                  <div>
                                    <h1>The lack of a medical specialty</h1>
                                    <ul>
                                      <li>
                                        <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                                      </li>
                                      <li>
                                        <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                                      </li>
                                      <li>
                                        <p><i class="pi pi-map-marker"></i> Riyadh</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- END C/tik_prev -->
                              </div><!-- END C/flx_bx -->
                            </div><!-- END C/top_bx -->
                          </div><!-- END C/complaint_container -->
                          <div class="complaint_container grayTag_bg">
                            <i class="pi pi-flag-fill"></i>
                            <div class="top_bx">
                              <div class="flx_bx">
                                <div class="tik_no">
                                    <h4>5300 <span>Ticket No.</span></h4>
                                </div><!-- END C/tik_no -->
                                <div class="tik_prev">
                                  <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
                                  <div>
                                    <h1>The lack of a medical specialty</h1>
                                    <ul>
                                      <li>
                                        <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                                      </li>
                                      <li>
                                        <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                                      </li>
                                      <li>
                                        <p><i class="pi pi-map-marker"></i> Riyadh</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- END C/tik_prev -->
                              </div><!-- END C/flx_bx -->
                            </div><!-- END C/top_bx -->
                          </div><!-- END C/complaint_container -->
                          <div class="complaint_container grayTag_bg">
                            <i class="pi pi-flag-fill"></i>
                            <div class="top_bx">
                              <div class="flx_bx">
                                <div class="tik_no">
                                    <h4>5300 <span>Ticket No.</span></h4>
                                </div><!-- END C/tik_no -->
                                <div class="tik_prev">
                                  <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
                                  <div>
                                    <h1>The lack of a medical specialty</h1>
                                    <ul>
                                      <li>
                                        <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                                      </li>
                                      <li>
                                        <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                                      </li>
                                      <li>
                                        <p><i class="pi pi-map-marker"></i> Riyadh</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- END C/tik_prev -->
                              </div><!-- END C/flx_bx -->
                            </div><!-- END C/top_bx -->
                          </div><!-- END C/complaint_container -->
                          <div class="complaint_container grayTag_bg">
                            <i class="pi pi-flag-fill"></i>
                            <div class="top_bx">
                              <div class="flx_bx">
                                <div class="tik_no">
                                    <h4>5300 <span>Ticket No.</span></h4>
                                </div><!-- END C/tik_no -->
                                <div class="tik_prev">
                                  <p>Government Hospitals <i class="las la-long-arrow-alt-right"></i>  King Saud Hospital</p>
                                  <div>
                                    <h1>The lack of a medical specialty</h1>
                                    <ul>
                                      <li>
                                        <p><i class="pi pi-calendar"></i> 23 October 2020 - 02:30PM</p>
                                      </li>
                                      <li>
                                        <a href="tel:0201092248498"><i class="pi pi-phone"></i> Phone Call</a>
                                      </li>
                                      <li>
                                        <p><i class="pi pi-map-marker"></i> Riyadh</p>
                                      </li>
                                    </ul>
                                  </div>
                                </div><!-- END C/tik_prev -->
                              </div><!-- END C/flx_bx -->
                            </div><!-- END C/top_bx -->
                          </div><!-- END C/complaint_container -->                  
                          <div class="pagging_bx">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <i class="las la-arrow-left"></i>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <i class="las la-arrow-right"></i>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                          </div><!-- END C/pagging_bx -->
        
        </div>
    </div><!-- END C/complaintList_bx -->
</div><!-- END C/complaint_pg -->


<div class="modal fade newComp_popup" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable popup_w60">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">Create New ticket</h1>
          </div><!-- END C/modal-header -->
          <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Select City</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Contact Source</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Type of Division</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Name Of Division</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Main Classification</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Sub Classification</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Did this cause harm to the patient / reviewer’s condition?
                        </label>
                      </div><!-- END C/form-check -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText> 
                          <label for="ddl">What is the name of the medicine?</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-calendar  inputId="cal" [showTime]="true"></p-calendar>
                          <label for="cal">Date & Time</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">Sub Classification</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <p-autoComplete inputId="ddl" [dropdown]="true"></p-autoComplete>
                          <label for="ddl">What is the department?</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        <label class="form-check-label" for="flexCheckDefault2">
                            Urgent Ticket
                        </label>
                      </div><!-- END C/form-check -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="field">
                      <span class="p-float-label">
                        <textarea pInputTextarea></textarea>
                          <label for="ddl">Remark & Note</label>
                      </span>
                  </div><!-- END C/field -->
                  </div><!-- END C/col -->
                  <div class="col-12 col-md-6">
                    <div class="uploader_bx">
                        <p-fileUpload mode="basic" chooseLabel="upload Attachments (PDF, PNG, JPG)" chooseIcon="pi pi-cloud-upload"></p-fileUpload>
                    </div>
                  </div><!-- END C/col -->
            </div><!-- END C/row -->
          </div><!-- END C/modal-body -->
          <div class="modal-footer">
            <div class="btn_bx">
                <button type="button" class="btn">Save</button>
                <button type="button" class="btn btn2" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div><!-- END C/modal-footer -->
        </div><!-- END C/modal-content -->
    </div><!-- END C/modal-dialog -->
  </div><!-- END C/newComp_popup -->