<div class="notification_pg">
  
    <div class="profile_bx">
        <a href="#" class="settingLink"><i class="pi pi-cog"></i></a>
        <figure>
          <span><img src="assets/images/profile_img.png" alt="logo"></span>
          <figcaption>
            <h1>Abdullah Mohammed</h1>
            <p>CC Agent (Experience)</p>
          </figcaption>
        </figure>
    </div><!-- END C/content_bx -->

    <div class="notfic_bx">

        <div class="title_bx flx_bx">
          <h1><i class="pi pi-bell"></i> Notifications </h1>
          <span>10</span>
        </div><!-- END C/title_bx -->

        <div class="messageList_bx">
          <ul>
            <li>
                <a href="#">
                  <p>New Complaint ticket added and approved</p>
                  <span class="newMessage_circ"> 2 minutes ago</span>
                </a>
            </li>
            <li>
              <a href="#">
                <p>New Complaint ticket added and approved</p>
                <span class="newMessage_circ"> 2 minutes ago</span>
              </a>
          </li>
          <li>
            <a href="#">
              <p>New Complaint ticket added and approved</p>
              <span class="newMessage_circ"> 2 minutes ago</span>
            </a>
        </li>
        <li>
          <a href="#">
            <p>New Complaint ticket added and approved</p>
            <span class="newMessage_circ"> 2 minutes ago</span>
          </a>
      </li>
      <li>
        <a href="#">
          <p>New Complaint ticket added and approved</p>
          <span class="newMessage_circ"> 2 minutes ago</span>
        </a>
    </li>
          </ul>
        </div><!-- END C/messageList_bx -->

    </div><!-- END C/notfic_bx -->

</div><!-- END C/notification_pg -->